/*Link to import Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Roboto:wght@300;500;700&display=swap');

/*Import hamburger icon from font aweson*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/*Basic rules*/
* {
	margin: 0;
	padding: 0;
	/*text-align: center;*/
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.6;

}


/********************************/
/*Typography*/
/*dancing script 400, 700*/
/*roboto: 100; 300; 500*/

/*Typography main body*/
h1 {
	margin: 3rem;
	font-family: "Dancing Script", cursive;
	font-weight: 700;
	font-size: 3rem;
	text-align: center;

}

.main__hero__desc {
	padding-bottom: 1rem;
	font-family: "Dancing Script", cursive;
	font-weight: 400;
	font-style: italic;
	font-size: 1.5rem;
	text-align: center;
}

h2 {
	margin: 1rem;
	padding: 1rem;
	border-bottom: 1px solid black;
	font-weight: 500;
	font-style: italic;
	font-size: 1.5rem;
}

p {
	padding-bottom: 1rem;
}

/*Typography footer*/
footer {
	padding: 1rem;
}

.copyright-statement {
	font-size: 0.8rem;
	font-weight: 300;
}

/*Typography of other features*/
.btn {
	color: #fff;
	background-color: #f63;
	font-size: 1.3rem;
	font-weight: 500;
	padding: 1rem;
	margin: 1rem;
	border: none;
	border-radius: 5%;
	outline: none;
}

.btn--order {
	/*background-color: #f63;*/
}

.btn-scrollTop {
	display: none;
	position: fixed;
    bottom: 2.5rem;
    right: 2rem;
    border: none;
    outline: none;
    z-index: 99;
}

.btn-scrollTop:hover{
	background-color: #555;
}


/********************************/
/*Layout details*/

/*Layout main body*/
main {
	/*top | horizontal | bottom*/
	margin: 10vh 1rem 10vh;
}

.main__hero {
	min-height: 50vh;
	padding: 3rem;
	margin-top: 10rem;
}

section {
	position: relative;
	min-height: 80vh;
}

/* Layout page header */
.page__header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
	z-index: 5;
}


/*Module rules*/
.navbar__menu {
	padding: 1rem;
	border-bottom: 1px solid #f63;
	min-height: 8vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
}

.navbar__menu li {
    display: inline-block;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: #f63;
}

.navbar__menu .menu__link:hover {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
}

/*.navbar__menu .menu__link .menu__link--active {
    background-color: #f63;
    color: white;
}*/

.hamburger {
	font-size: 1.5rem;
	color: #f63;
	display: none;
	cursor: pointer;
}

.menu__link--active {
	background-color: #eee
}

.navbar__logo {
	height: 100%
	width: auto;
}

.section__landing__img {
	width: 400px;
	height: auto;
}

.section--active {
	background-color: #eee;
}

/*Thematic lay*/
.landing__container {
	padding: 3rem 1rem 1rem 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	justify-content: center;
	justify-items: center;
    align-items: center;
}

section:nth-of-type(odd) .landing__container {
	text-align: left;
}

section:nth-of-type(even) .landing__container {
	text-align: right;
}

section:nth-of-type(even) .landing__container
.landing__info__container {
	order: 2;
}



/*Responsive layout


.landing container is not grid
section img 300px
small = under max-width:(iphoneX 375px)

.landing__container is not grid
section img 400px
medium = under max-width: (ipad = 768px)

.landing container is grid
section img 400px
large = under max-width(1200px)

xl = over min-width(1200px)
	section img 500px

*/

/*Changes for medium size screen*/
@media screen and (max-width: 768px){
	* {
		font-size: 16px;
		line-height: 1.6;
	}

	body {
		overflow-x: hidden;
	}

	figure{
		padding: 1rem 0 0 0;
	}

	/*#navbar__list {*/
	.navbar__menu__list {
		position: fixed;
		right: 0px;
		top: 8vh;
		height: 92vh;
		/*width: 100%;*/
		width: 50%;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}

	.navbar__menu .menu__link {
		color: #f63;
		font-size: 2rem;
		/*opacity: 0;*/
	}

	.hamburger {
		display: block;
		font-size: 2rem;
		z-index: 99;
	}

	.navbar__list--active {
		transform: translateX(0%);
	}

	.landing__container {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}

	.landing__info__container {
		padding: 3rem 0 2rem 0;
	}

	.section__landing__img {
		width: 400px
	}

	section:nth-of-type(even) .landing__container {
		text-align: left;
	}

	section:nth-of-type(even) .landing__container
		.landing__info__container {
		order: 0;
	}
}


/*Changes for medium size screen*/
@media screen and (max-width: 376px){
	* {
		font-size: 14px;
		line-height: 1.4;
	}

	.navbar__menu {
		height: 8vh;
	}

	.section__landing__img {
		width: 300px;
	}



}




/*Changes for xl */
@media screen and (min-width: 1200px) {
	*{
		font-size: 20px;
		line-height: 2;
	}

	.landing__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		justify-items: center;
		align-items: center;

	}

	.section__landing__img {
		width: 500px;
	}
}